In [ ]:
import pandas as pd 
import numpy as np

dados = pd.read_csv("https://raw.githubusercontent.com/ect-info/ml/master/dados/house_prices.csv")

dados.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

### **Análise de correlação**

A partir dessa análise, tentei tirar as colunas que aparentemente não possuiam nenhuma relação com o preço.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns 

dados.corr()

                     id     price  ...  sqft_living15  sqft_lot15
id             1.000000 -0.016762  ...      -0.002901   -0.138798
price         -0.016762  1.000000  ...       0.585379    0.082447
bedrooms       0.001286  0.308350  ...       0.391638    0.029244
bathrooms      0.005160  0.525138  ...       0.568634    0.087175
sqft_living   -0.012258  0.702035  ...       0.756420    0.183286
sqft_lot      -0.132109  0.089661  ...       0.144608    0.718557
floors         0.018525  0.256794  ...       0.279885   -0.011269
waterfront    -0.002721  0.266369  ...       0.086463    0.030703
view           0.011592  0.397293  ...       0.280439    0.072575
condition     -0.023783  0.036362  ...      -0.092824   -0.003406
grade          0.008130  0.667434  ...       0.713202    0.119248
sqft_above    -0.010842  0.605567  ...       0.731870    0.194050
sqft_basement -0.005151  0.323816  ...       0.200355    0.017276
yr_built       0.021380  0.054012  ...       0.326229    0.070958
yr_renovated  -0.016907  0.126434  ...      -0.002673    0.007854
zipcode       -0.008224 -0.053203  ...      -0.279033   -0.147221
lat           -0.001891  0.307003  ...       0.048858   -0.086419
long           0.020799  0.021626  ...       0.334605    0.254451
sqft_living15 -0.002901  0.585379  ...       1.000000    0.183192
sqft_lot15    -0.138798  0.082447  ...       0.183192    1.000000

[20 rows x 20 columns]

**No desenvolvimento deste processo, não utilizei as colunas: id, date, zipcode, lat e long. Fiz testes tirando outras também, mas isso diminuia o r2_score**

In [ ]:
dados.drop(columns=['id','date','zipcode','lat','long'],inplace=True)

dados.head()

      price  bedrooms  bathrooms  ...  yr_renovated  sqft_living15  sqft_lot15
0  221900.0         3       1.00  ...             0           1340        5650
1  538000.0         3       2.25  ...          1991           1690        7639
2  180000.0         2       1.00  ...             0           2720        8062
3  604000.0         4       3.00  ...             0           1360        5000
4  510000.0         3       2.00  ...             0           1800        7503

[5 rows x 16 columns]

**Procurei por elementos nulos**

In [ ]:
print("Número de elementos nulos para a coluna bathrooms :", dados['bathrooms'].isnull().sum())
print("Número de elementos nulos para a coluna bedrooms :", dados['bedrooms'].isnull().sum())
print("Número de elementos nulos para a coluna sqft_living :", dados['sqft_living'].isnull().sum())
print("Número de elementos nulos para a coluna sqft_lot :", dados['sqft_lot'].isnull().sum())
print("Número de elementos nulos para a coluna floors:", dados['floors'].isnull().sum())
print("Número de elementos nulos para a coluna waterfront :", dados['waterfront'].isnull().sum())
print("Número de elementos nulos para a coluna view :", dados['view'].isnull().sum())
print("Número de elementos nulos para a coluna condition :", dados['condition'].isnull().sum())
print("Número de elementos nulos para a coluna grade :", dados['grade'].isnull().sum())
print("Número de elementos nulos para a coluna sqft_above :", dados['sqft_above'].isnull().sum())
print("Número de elementos nulos para a coluna sqft_basement:", dados['sqft_basement'].isnull().sum())
print("Número de elementos nulos para a coluna yr_built :", dados['yr_built'].isnull().sum())
print("Número de elementos nulos para a coluna yr_renovated :", dados['yr_renovated'].isnull().sum())
print("Número de elementos nulos para a coluna sqft_living15 :", dados['sqft_living15'].isnull().sum())
print("Número de elementos nulos para a coluna sqft_lot15 :", dados['sqft_lot15'].isnull().sum())
print("Número de elementos nulos para a coluna price :", dados['price'].isnull().sum())

Número de elementos nulos para a coluna bathrooms : 0
Número de elementos nulos para a coluna bedrooms : 0
Número de elementos nulos para a coluna sqft_living : 0
Número de elementos nulos para a coluna sqft_lot : 0
Número de elementos nulos para a coluna floors: 0
Número de elementos nulos para a coluna waterfront : 0
Número de elementos nulos para a coluna view : 0
Número de elementos nulos para a coluna condition : 0
Número de elementos nulos para a coluna grade : 0
Número de elementos nulos para a coluna sqft_above : 0
Número de elementos nulos para a coluna sqft_basement: 0
Número de elementos nulos para a coluna yr_built : 0
Número de elementos nulos para a coluna yr_renovated : 0
Número de elementos nulos para a coluna sqft_living15 : 0
Número de elementos nulos para a coluna sqft_lot15 : 0
Número de elementos nulos para a coluna price : 0

In [ ]:
X = dados.iloc[:, [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]].values

y = dados.iloc[:,0].values

print(y)

[221900. 538000. 180000. ... 402101. 400000. 325000.]

In [ ]:

# Indice do último elemento de treinamento
last_t = int(np.floor(0.65*len(y))); 

X_train = X[0:last_t]
X_test = X[last_t+1:]

In [ ]:
y_train = y[0:last_t]
y_test = y[last_t+1:]

### **Ajuste**

In [ ]:
from sklearn import  linear_model
from sklearn.metrics import mean_squared_error, r2_score

regr = linear_model.LinearRegression()

In [ ]:
regr.fit(X_train, y_train)

y_pred = regr.predict(X_test)

print("Mean squared error: %.2f"
      % mean_squared_error(y_test, y_pred))

Mean squared error: 47538830312.22



> Bloco com recuo

In [ ]:
print('R2 score: %.2f' % r2_score(y_test, y_pred))

R2 score: 0.64